{% liquid
    if settings.heading_base_size != blank
        assign heading_size = settings.heading_base_size | times: section.settings.heading_size | times: 0.000225
    else
        assign heading_size = section.settings.heading_size | times: 100 | times: 0.0004
    endif
    if settings.heading_scale
      assign heading_size = heading_size | times: settings.heading_scale | times: 0.01
    endif
    assign enable_desktop_slider = section.settings.enable_carousel_on_desktop
    assign enable_tablet_slider = section.settings.enable_carousel_on_desktop
    assign columns_mobile = section.settings.columns_mobile | plus: 0
    assign columns_desktop = section.settings.columns_desktop | plus: 0
    assign image_ratio = section.settings.image_ratio
    if columns_desktop == 0
      assign columns_desktop = 4
    endif
    if section.settings.columns_mobile == "auto"
      assign columns_mobile = 1
    endif
    if section.settings.layout_mobile == 'carousel'
        if section.blocks.size <= columns_mobile
            assign swiper_on_mobile = false
        else
            assign swiper_on_mobile = true
        endif
    else
        assign swiper_on_mobile = false
    endif
    if section.blocks.size <= section.settings.columns_desktop
        assign enable_desktop_slider = false
    endif
    if section.blocks.size <= 4
        assign enable_tablet_slider = false
    endif
    if settings.lang_direction contains request.locale.iso_code
    assign class_rtl = 'margin-left'
    else
    assign class_rtl = 'margin-right'
    endif
%}
{%- style -%}
    #shopify-section-{{ section.id }} {
    {% if section.settings.border_color.alpha != 0 %}
        --colors-line-and-border: {{ section.settings.border_color.red }},{{ section.settings.border_color.green }},{{ section.settings.border_color.blue }};
        {%  else %}
        --colors-line-and-border: var(--color-foreground);
    {% endif %}
    }
    #shopify-section-{{ section.id }} button.otsb-button-arrow {
    {%  if section.settings.slider_button_color.alpha != 0 %} 
    background-color: rgba({{ section.settings.slider_button_color.red }}, {{ section.settings.slider_button_color.green }}, {{ section.settings.slider_button_color.blue }}, 0.3);
    color: {{ section.settings.slider_button_color }};
    {%  else %}
    background-color: rgba(var(--color-foreground), 0.3);
    color: rgba(var(--color-foreground));
    {% endif %}
    box-shadow: none;
    border-radius: 50px;
    }

    #shopify-section-{{ section.id }} button.otsb-button-arrow:hover {
    {%  if section.settings.slider_button_hover_text_color.alpha != 0 %} 
    color: {{ section.settings.slider_button_hover_text_color }};
    {%  else %}
    color: rgba(var(--color-foreground));
    {% endif %}
    {%  if section.settings.slider_button_hover_color.alpha != 0 %} 
    background: {{ section.settings.slider_button_hover_color }};
    {%  else %}
    background-color: rgba(var(--color-foreground), 0.7);
    {% endif %}
    }
    @media (max-width: 1023px) {
        #shopify-section-{{ section.id }} .splide__arrows, #shopify-section-{{ section.id }} .splide__arrows--ltr {
            display: none;
        }
        .spacing--{{ section.id }} {
  {% if section.settings.column_layout_mobile == 'w-1/2' %}
      padding-left: {{ section.settings.spacing_mobile | times: 0.5 }}px;
      padding-right: {{ section.settings.spacing_mobile | times: 0.5 }}px;
  {% endif %}
  padding-top: {{ section.settings.spacing_mobile | times: 0.5 }}px;
  padding-bottom: {{ section.settings.spacing_mobile | times: 0.5 }}px;
  }
    }
    {%  unless section.settings.show_navigation %}
      #shopify-section-{{ section.id }} .splide__arrows,#shopify-section-{{ section.id }} .splide__arrows--ltr {
            display: none;
        }
    {% endunless %}
    .otsb__root .otsb-h2.heading--{{ section.id }} {
    {% if section.settings.heading_color.alpha != 0 %}
        --colors-heading: {{ section.settings.heading_color.red }},{{ section.settings.heading_color.green }},{{ section.settings.heading_color.blue }};
    {% endif %}
    }
    #shopify-section-{{ section.id }}  .splide-progress {
    {% if section.settings.heading_color.alpha != 0 %}
        --colors-heading: {{ section.settings.heading_color.red }},{{ section.settings.heading_color.green }},{{ section.settings.heading_color.blue }};
      {%  else %}
      --colors-heading: var(--color-foreground);
    {% endif %}
    {% if section.settings.border_color.alpha != 0 %}
        --colors-line-and-border: {{ section.settings.border_color.red }},{{ section.settings.border_color.green }},{{ section.settings.border_color.blue }};
        {%  else %}
        --colors-line-and-border: var(--color-foreground);
    {% endif %}
    }
    .bg-{{ section.id }} {
    background: {{ section.settings.background_color }};
    }
    .otsb__root .heading--{{ section.id }} {
    font-size: {{ heading_size | times: 0.6 }}rem;
    }
    .corner--{{ section.id }} {
    border-radius: {{ section.settings.corner_image }}px;
    }
    .spacing-mobile-{{ section.id }} {
    gap: {{ section.settings.spacing_mobile }}px;
    }
    @media screen and (min-width: 768px) {
    .otsb__root .heading--{{ section.id }} {
    font-size: {{ heading_size }}rem;
    }
    .spacing--tablet-{{ section.id }} {
      gap: {{ section.settings.spacing_mobile }}px;
    }
    }
    @media screen and (min-width: 912px) {
      .spacing-desktop-{{ section.id }} {
        padding: {{ section.settings.spacing_desktop | times: 0.5 }}px;
      }
      .spacing-desktop-{{ section.id }}-splide {
        margin: -{{ section.settings.spacing_desktop | times: 0.5 }}px!important;
      }
      .spacing--desktop-{{ section.id }} {
        {% if enable_desktop_slider %}
          gap: 0px;
        {% else %}
          gap: {{ section.settings.spacing }}px;
        {% endif %}
      }
      .otsb__root .preload-slide--{{ section.id }} {
      {% if enable_desktop_slider %}
        {{ class_rtl }}: {{ section.settings.spacing }}px;
      {% else %}
        {{ class_rtl }}: 0px;
      {% endif %}
      {% if columns_desktop != 0 %}
        width: calc(((100% + {{ section.settings.spacing }}px) / {{ columns_desktop }}) - {{ section.settings.spacing }}px);  
      {% endif %}
    }
    }
    @media screen and (max-width: 912px) {
    .otsb__root .gap-mobile-{{ section.id }} {
    gap: {{ section.settings.spacing_mobile }}px;
    }
    }
    .logo-list-heading-{{ section.id }} {
      padding: 0 1.5rem;
    }
    @media screen and (min-width: 768px) {
    .gap-{{ section.id }} {
    {% if enable_desktop_slider %}
        gap: 0px;
    {% else %}
        gap: {{ section.settings.spacing }}px;
    {% endif %}
    }
  }

    {% if enable_desktop_slider %}
        @media (min-width: 1024px){
        .otsb__root .splide__slide.preload-slide--{{ section.id }} {
        {{ class_rtl }}: {{ section.settings.spacing }}px;
        width: calc(((100% + {{ section.settings.spacing }}px) / {{ columns_desktop }}) - {{ section.settings.spacing }}px);
        }
        }
    {% endif %}
    {% if swiper_on_mobile %}
        @media (max-width: 912px) {
        .otsb__root .splide__slide.preload-slide--{{ section.id }} {
        {{ class_rtl }}: {{ section.settings.spacing_mobile }}px;
        width: calc(((100% + {{ section.settings.spacing_mobile }}px) / {{ columns_mobile }}) - {{ section.settings.spacing_mobile }}px);
        }
        .otsb__root .preload-slide--{{ section.id }}-mobile {
          {{ class_rtl }}: {{ section.settings.spacing_mobile }}px;
          width: calc(((100% + {{ section.settings.spacing_mobile }}px) / {{ columns_mobile }}) - {{ section.settings.spacing_mobile }}px);
        }
        }
    {% endif %}
    @media (max-width: 767px) {
    {% if section.settings.column_layout_mobile == 'w-1/2' %}
      .otsb__root .splide__list.spacing--{{ section.id }}-splide {
      margin: -{{ section.settings.spacing_mobile | times: 0.5 }}px!important;
      }
    {% endif %}
    }
    .w-5\/12 {
      width: 41.666667%;
    }
    @media (min-width: 1024px) {
      .otsb__root .lg\:pb-\[100px\]{padding-bottom:100px}
      .otsb__root .lg\:pb-\[75\%\]{padding-bottom:75%}
      .otsb__root .lg\:pb-\[56px\]{padding-bottom:56px}
      .otsb__root .lg\:pb-\[133\%\]{padding-bottom:133%}
    }
{%- endstyle -%}
{% if request.design_mode %}
  <style>
    .otsb_nope {
      display: none !important;
      height: 0 !important;
      overflow: hidden !important;
      visibility: hidden !important;
      width: 0 !important;
      opacity: 0 !important;
    }
    ._otsb_warning {
      position: relative;
      box-shadow: 0rem 0.1875rem 0.0625rem -0.0625rem rgba(26, 26, 26, 0.07);
      border-radius: 1rem;
    }
    ._otsb_warning::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      box-shadow: 0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, -0.0625rem 0rem 0rem 0rem rgba(0, 0, 0, 0.13) inset, 0rem -0.0625rem 0rem 0rem rgba(0, 0, 0, 0.17) inset, 0rem 0.0625rem 0rem 0rem rgba(204, 204, 204, 0.5) inset;
      border-radius: 1rem;
      pointer-events: none;
      mix-blend-mode: luminosity;
    }
  </style>
  <div x-data="otsb_script_require" class="page-width" style="margin-top:36px;margin-bottom:36px">
    <div class="_otsb_warning">
      <div style="border-top-left-radius:1rem;border-top-right-radius:1rem;border:1px solid #fcaf0a;background:#fcb827;padding:1rem">
        <div style="align-items:center;gap:8px;display:flex;flex-direction:row;flex-wrap:nowrap;justify-content:space-between">
          <div style="display:flex;gap:4px;flex-direction:row;flex-wrap:nowrap;justify-content:space-between">
            <span style="display:block;height:20px;width:20px;max-height:100%;max-width:100%;margin:auto">
              <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true"><path d="M10 6.75a.75.75 0 0 1 .75.75v3.5a.75.75 0 1 1-1.5 0v-3.5a.75.75 0 0 1 .75-.75Z"></path><path d="M11 13.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path><path fill-rule="evenodd" d="M10 3.5c-1.045 0-1.784.702-2.152 1.447a449.26 449.26 0 0 1-2.005 3.847l-.028.052a403.426 403.426 0 0 0-2.008 3.856c-.372.752-.478 1.75.093 2.614.57.863 1.542 1.184 2.464 1.184h7.272c.922 0 1.895-.32 2.464-1.184.57-.864.465-1.862.093-2.614-.21-.424-1.113-2.147-2.004-3.847l-.032-.061a429.497 429.497 0 0 1-2.005-3.847c-.368-.745-1.107-1.447-2.152-1.447Zm-.808 2.112c.404-.816 1.212-.816 1.616 0 .202.409 1.112 2.145 2.022 3.88a418.904 418.904 0 0 1 2.018 3.875c.404.817 0 1.633-1.212 1.633h-7.272c-1.212 0-1.617-.816-1.212-1.633.202-.408 1.113-2.147 2.023-3.883a421.932 421.932 0 0 0 2.017-3.872Z"></path></svg>
            </span>
            <h2 style="overflow-wrap:anywhere;word-break:normal;font-size:100%;font-weight:650;line-height:1.25;color:rgb(37,26,0)">App Embeds Are Disabled</h2>
          </div>
        </div>
      </div>
      <div style="padding:1rem;color:rgb(37,26,0)">
        <p>To use this section, the app embeds of OT: Theme Sections must be enabled in the theme editor. Please follow these steps to activate them:</p>
        <ul>
          <li>In the left panel, click the last icon that says <b>“App embeds”</b>.</li>
          <li>Enter <b>“OT”</b> on the search bar to quickly find and embed the apps from OT: Theme Sections.</li>
          <li>Turn on the Toggle buttons of "Section Builder Script" and "Section Builder Style", then click <b>Save</b>.</li>
        </ul>
        <p>Please refer to the User Guide <a href="https://support.omnithemes.com/blogs/ot-theme-sections-get-started/1-embed-app-to-shopify-theme" target="_blank">here</a></p>
        <p>For further support: feel free to contact us at <a href="mailto:support@omnithemes.com">support@omnithemes.com</a>!</p>
      </div>
    </div>
  </div>
{% endif %}
<div class="otsb_nope" x-data="otsb_script_1">
{% render 'otsb-section-divider' %}
<div class="bg-{{ section.id }} pt-[{{ section.settings.padding_top_mobile }}px] md:pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom_mobile }}px] md:pb-[{{ section.settings.padding_bottom }}px]">
    {%- unless section.settings.heading == blank -%}
    <div
            class="logo-list-heading-{{ section.id }} text-center mb-5{% unless section.settings.heading_alignment contains 'center' %} flex items-center{% endunless %} otsb-heading-{{ section.settings.heading_alignment }} {% unless section.settings.full_width %} otsb-page-width{% endunless %}">
        <{{ section.settings.heading_tag }} class="heading--{{ section.id }} otsb-section-header otsb-h2 block
        leading-tight flex-auto otsb-p-break-words">
        {{- section.settings.heading | escape -}}
    </{{ section.settings.heading_tag }}>
</div>
{%- endunless -%}
<div class="logo-list-slide mx-auto{% if swiper_on_mobile %} otsb-carousel-mobile{% endif %}{% if section.settings.full_width %} otsb-full-width{% else %} otsb-page-width{% endif %}">   
<div class="{% if section.settings.show_navigation and enable_desktop_slider %}lg:pl-24 lg:pr-24{% else %} lg:pl-0 lg:pr-0{% endif %}">
        <div
                x-data
                id="x-collection-{{ section.id }}"
                {% if enable_desktop_slider or swiper_on_mobile -%}
                    class="{% if settings.lang_direction contains request.locale.iso_code and section.settings.transition_style == "fade" %}otsb-ltr {% endif %}x-splide splide visible"
                    x-intersect.once.margin.200px='
              $store.otsb_xSplide.load($el, {
                "type": "loop",
                "speed": 1000,
                "pagination": false,
                "mediaQuery": "min",
                "updateOnMove": "true",
                "progressBar": {{ section.blocks.size }},
                {%- if settings.lang_direction contains request.locale.iso_code %}
                  "direction": "rtl",
                {%- endif %}
                {%- if section.settings.auto_switch_bar -%}
                "interval": {{ section.settings.change_bar_every | times: 1000 }},
                "autoplay": true,
                {%- endif -%}
                "breakpoints": {
              300: {
                {% if swiper_on_mobile == false -%}
                  "destroy": true,
                {%- endif -%}
                "gap": "{{ section.settings.spacing_mobile }}px",
                {% if columns_mobile == 0 %}
                  "autoWidth": true,
                  "focus": "center",
                {% else %}
                  "focus": "right",
                  "perPage": {{ columns_mobile }},
                  "perMove": {{ columns_mobile }}
                {% endif %}
              },
              768: {
                {% if swiper_on_mobile == false -%}
                  "destroy": true,
                {%- else -%}
                  "destroy": false,
                {%- endif %}
                "gap": "{{ section.settings.spacing_mobile }}px",
                {% if section.settings.columns_desktop == 0 %}
                  "autoWidth": true,
                {% else %}
                  "focus": "right",
                  "autoWidth": false,
                  "perPage": {{ columns_mobile }},
                  "perMove": {{ columns_mobile }},
                {% endif %}
              },
              1024: {
                {% if enable_desktop_slider -%}
                  "destroy": false,
                {%- else -%}
                  "destroy": true,
                {%- endif %}
                {% unless section.settings.columns_desktop == 0 %}
                  "perPage": {{ columns_desktop }},
                  "perMove": {{ columns_desktop }},
                {% endunless %}
                "gap": "{{ section.settings.spacing }}px",
              }
            },
                "classes": {
                  "arrows" : "block otsb-hiden",
                }
              })
            '
                {%- endif -%}
        >
            {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {% if section.settings.full_width %}{{ settings.page_width | plus: 100 | divided_by: columns_desktop }}px{% else %}calc(100vw / {{ columns_desktop }}){% endif %},
                (min-width: 768px) calc((100vw) / {{ columns_desktop }}),
                calc(100vw /{{ columns_mobile }})
            {%- endcapture %}
            <div
                    class="splide__track lg:pt-0.5 lg:pb-0.5{% if enable_desktop_slider %} md:cursor-grab{% endif %}{% if swiper_on_mobile %} pl-5 pr-5 lg:pl-0 lg:pr-0{% endif %}">
                      {% if section.settings.columns_desktop == 0 %}
                      <div class="splide__list flex{% unless swiper_on_mobile %} spacing-mobile-{{ section.id }} flex-wrap justify-center{% else %} justify-start flex-nowrap{% endunless %}{% if enable_desktop_slider %} lg:flex-nowrap md:flex lg:justify-start{% else %} md:flex lg:flex-wrap lg:justify-center{% endif %} spacing--desktop-{{ section.id }} text-center items-center">
                    {% else %}
                      <div class="splide__list flex{% unless swiper_on_mobile %} spacing-mobile-{{ section.id }} flex-wrap justify-center{% endunless %}{% if enable_desktop_slider %} lg:flex-nowrap lg:gap-0 lg:justify-start{% else %} lg:flex-wrap lg:justify-center{% endif %}{% if enable_tablet_slider %} lg:flex-nowrap lg:justify-start{% else %} lg:flex-wrap lg:justify-center{% endif %} spacing--desktop-{{ section.id }} spacing--tablet-{{ section.id }} text-center items-center">
                    {% endif %}
                    {%- for block in section.blocks -%}
                        {% liquid
                            if block.settings.image_logo == blank and image_ratio == "auto"
                                assign image_ratio = 100
                            endif
                        %}
                        {% style %}
                            {% if image_ratio == "auto" and block.settings.image_logo != blank %}
                                {% if columns_mobile != 0 %}
                                    .logo-{{ block.id }} .logo-image {
                                    padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                                    }
                                {% endif %}
                                @media screen and (min-width: 1024px) {
                                .logo-{{ block.id }} .logo-image {
                                {% if section.settings.columns_desktop != 0 %}
                                    padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                                    padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                                {% else %}
                                    padding-bottom: 0%;
                                {% endif %}
                                }
                                }
                            {% endif %}
                            {% if image_ratio != "auto" and section.settings.columns_mobile == "auto" %}
                              @media (max-width: 1023px) {
                              .logo-{{ block.id }} .logo-image {
                                 padding-bottom: {{ 100 | divided_by: block.settings.image_logo.aspect_ratio }}%;
                               }
                              }
                            {% endif %}
                        {% endstyle %}
                        <div
                                x-slide-index="{{ forloop.index | minus: 1 }}"
                                id="Slide-{{ block.id }}-{{ forloop.index }}"
                                class="logo-{{ block.id }} relative corner--{{ section.id }} relative overflow-hidden
                  {%- if enable_desktop_slider or swiper_on_mobile or enable_tablet_slider %} splide__slide x-splide-slide preload-slide--{{ section.id }}{% endif -%}
                  {%  unless enable_desktop_slider %} spacing-desktop-{{ section.id }} preload-slide--{{ section.id }}{% endunless %}
                  {%- unless swiper_on_mobile %}{% if columns_mobile == 1 %} w-full{% elsif columns_mobile == 2 %} w-5/12{% endif %}{%  else %} preload-slide--{{ section.id }}-mobile{% endunless %}
                  {%- if section.settings.show_border %} h-full border pt-4 pb-4 pr-5 pl-5{% if section.settings.columns_desktop <= 6 %} lg:pl-10 lg:pr-10{% else %} lg:pl-7 lg:pr-7{% endif %}{% endif %}"
                                {{ block.shopify_attributes }}
                        >
                            <a {%- if block.settings.image_link != blank %} href="{{ block.settings.image_link }}"{% if block.settings.open_new_window %} target="_blank"{% endif %}{% else %} role="link" aria-disabled="true"{% endif %}
                                    class="relative logo-image block h-full w-full disable-effect
                    {%- if image_ratio != "auto" and block.settings.image_logo != blank -%}
                      {%- if section.settings.columns_mobile != "auto" %} pb-[{{ image_ratio }}%]{% else %} pb-[100%]{% endif -%}
                      {%- if section.settings.columns_desktop != 0 %} lg:pb-[{{ image_ratio }}%]{% else %} lg:pb-0{% endif -%}
                    {%- elsif block.settings.image_logo == blank -%}
                      {%- if section.settings.columns_mobile != "auto" %} pb-[{{ image_ratio }}%]{% else %} pb-[100%]{% endif -%}
                      {%- if section.settings.columns_desktop != 0 %} lg:pb-[{{ image_ratio }}%]{% else %} lg:pb-[100%]{% endif -%}
                    {%- endif %}"
                            >
                                {% if block.settings.image_logo != blank %}
                                    <div class="w-full h-full overflow-hidden top-0 left-0 duration-300 transition ease-out flex justify-center items-center justify-center
                        {%- if columns_mobile != 0 %} absolute{% endif -%}
                        {%- if section.settings.columns_desktop != 0 %} lg:absolute{% else %} lg:relative{% endif -%}"
                                    >
                                        <img
                                                srcset="{{ block.settings.image_logo | image_url: width: 250 }} 250w,
                            {{ block.settings.image_logo | image_url: width: 450 }} 450w,
                            {{ block.settings.image_logo | image_url: width: 750 }} 750w,
                            {{ block.settings.image_logo | image_url: width: 900 }} 900w,
                            {{ block.settings.image_logo | image_url: width: 1100 }} 1100w,
                            {{ block.settings.image_logo | image_url: width: 1500 }} 1500w"
                                                src="{{ block.settings.image_logo | image_url: width: block.settings.image_logo.width }},
                          {{ block.settings.image_logo | image_url: width: block.settings.image_logo.width }}"
                                                alt="{{ block.settings.image_logo.alt | escape }}"
                                                loading="{% if section.settings.is_lazyload %}lazy{%  else %}eager{% endif %}"
                                                sizes="{{ sizes }}"
                                                width="{{ block.settings.image_logo.width }}"
                                                height="{{ block.settings.image_logo.height }}"
                                                class="h-full w-full object-cover"
                                                style="object-position: {{ block.settings.image_logo.presentation.focal_point }};"
                                        />
                                    </div>
                                {% else %}
                                    {% liquid
                                        assign class = "h-full w-full"
                                        if section.settings.columns_desktop == 0
                                            assign class = class | append: " md:relative"
                                        else
                                            assign class = class | append: " md:absolute md:top-0 md:left-0"
                                        endif
                                    %}

                                    <div
                                            class="flex-1 flex justify-center items-center bg-[#c9c9c9] top-0 left-0 h-full w-full{% if columns_mobile != 0 %} absolute{% endif %}{% if columns_desktop != 0 %} lg:absolute{% else %} lg:relative{% endif %}">
                                        {% render 'otsb-icon-placeholder', icon: 'icon-logo' %}
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            {%- if enable_desktop_slider and section.settings.show_navigation -%}
                <div class="splide__arrows">
                    <button
                            class="splide__arrow splide__arrow--prev otsb-button-arrow lg:block absolute none_border z-2 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed{% if settings.lang_direction contains request.locale.iso_code %} right-0 lg:-right-24{% else %}  -rotate-180 left-0 lg:-left-24{% endif %}"
                            aria-label="previous slide"
                    >
                        {% render 'otsb-icon-alls', icon: 'icon-arrow' %}
                    </button>
                    <button
                            class="splide__arrow splide__arrow--next otsb-button-arrow lg:block absolute none_border z-2 w-8 h-8 lg:w-14 lg:h-14 rounded-full after:text-[20px] pt-2 pb-2 pl-2 pr-2 lg:pt-4 lg:pl-4 lg:pb-4 lg:pr-4 top-1/2 -translate-y-1/2 duration-100 opacity-60 hover:opacity-100 disabled:opacity-40 disabled:cursor-not-allowed{% if settings.lang_direction contains request.locale.iso_code %} -rotate-180 left-0 lg:-left-24{% else %} right-0 lg:-right-24{% endif %}"
                            aria-label="next slide"
                    >
                        {% render 'otsb-icon-alls', icon: 'icon-arrow' %}
                    </button>
                </div>
            {%- endif -%}
            {%- if swiper_on_mobile -%}
              {%  style  %}
              @media screen and (max-width: 1023px) {
              .otsb__root .splide-progress-bar {
                display: block;
                transition: all 400ms ease;
                background: rgba(var(--colors-heading));
                }
              }
              .otsb__root .splide-progress {
                background: rgba(var(--colors-line-and-border), 0.2);
              }
              {% endstyle %}
              <div class="flex items-center gap-5 mt-2.5 w-full lg:hidden ml-auto mr-auto">
                <div class="splide-progress inline-block grow rounded-md">
                  {% liquid
                    assign my_float = columns_mobile | times: 1.0
                    assign width_bar = my_float | divided_by: section.blocks.size 
                  %} 
                  <div class="splide-progress-bar rounded-md" style="width: {{ width_bar | times: 100 }}%;"></div>
                </div>
              </div>
            {%- endif -%}
        </div>
    </div>
</div>
</div>